In [4]:
# import all libraries connect to aws s3 and download required files

import boto3
import pandas as pd
import io
from sqlalchemy import create_engine
import psycopg2


from io import BytesIO

#Establish connection with aws s3

s3 = boto3.client('s3', 
                      aws_access_key_id='AKIAZZ33YB65GZIN656A', 
                      aws_secret_access_key='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' 
                      )



obj = s3.get_object(Bucket='mindex-data-analytics-code-challenge', Key='bengals.csv')
df = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')
obj = s3.get_object(Bucket='mindex-data-analytics-code-challenge', Key='boyd_receiving.csv')
df1 = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')
obj = s3.get_object(Bucket='mindex-data-analytics-code-challenge', Key='chase_receiving.csv')
df2 = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')
obj = s3.get_object(Bucket='mindex-data-analytics-code-challenge', Key='higgins_receiving.csv')
df3 = pd.read_csv(io.BytesIO(obj['Body'].read()), encoding='utf8')

In [5]:
#Rename the columns to differenciate common columns in the datasheet after merge

df1 = df1.rename(columns = {'Yards':'Boyd_Yards','TD':'Boyd_TD'})
df2 = df2.rename(columns = {'Yards':'Chase_Yards','TD':'Chase_TD'})
df3 = df3.rename(columns = {'Yards':'Higgins_Yards','TD':'Higgins_TD'})

merged_df = pd.merge(df,df1,on = 'Week',how = 'left')
merged_df1 = pd.merge(merged_df,df2,on = 'Week',how = 'left')
merged_df2 = pd.merge(merged_df1,df3,on = 'Week',how = 'left')

replacement_dict = {'Result':{1.0:'Win',0.0:'Loss'}}

merged_df2 = merged_df2.replace(replacement_dict)
merged_df2.head(5)

,Week,Opponent,Location,Result,Boyd_Yards,Boyd_TD,Chase_Yards,Chase_TD,Higgins_Yards,Higgins_TD
0,PRE1,TB,Away,Win,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,Loss,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,Loss,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0

In [6]:
#Display list of tables in the databse

database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = '5432'



# Create connection to PostgreSQL database
con = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port
)

cur = con.cursor()

cur.execute("SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname = 'public'")

table_names = cur.fetchall()

for table in table_names:
    print(table[0])

hussein_hamdan
jason_aydar
jared_wofford
jacqueline_ramos
ryan_clark
christopher_carter
stephen_bosch
anthony_barone
ryan_held
john_hill
matthew_fioravanti
michael_leib
chad_meyer
brett_segraves
shakti_jagadish
dean_chirieleison
Anthony_Barone
joe_seroski

In [7]:
#Delete column names and data from table if it exists

import psycopg2

# Database connection details
database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = "5432"

# Connect to the database
conn = psycopg2.connect(database=database, user=user, password=password, host=host, port=port)
cur = conn.cursor()

# Get the column names from the table
cur.execute("SELECT column_name FROM information_schema.columns WHERE table_name = 'shakti_jagadish'")
columns = cur.fetchall()

# Drop each column from the table
for column in columns:
    cur.execute(f"ALTER TABLE shakti_jagadish DROP COLUMN {column[0]}")

# Delete all records from the table
cur.execute("DELETE FROM shakti_jagadish")

# Commit the changes
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

In [8]:
#To check if column names exists in the database

import psycopg2

# Database connection details
database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = '5432'

# Create connection to PostgreSQL database
con = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port
)

cur = con.cursor()

# Query to fetch the column names of a table in the public schema
schema_name = 'public'
table_name = 'shakti_jagadish'
query = f"SELECT column_name FROM information_schema.columns WHERE table_schema = '{schema_name}' AND table_name = '{table_name}'"

# Execute the query
cur.execute(query)

# Fetch all the column names
column_names = [row[0] for row in cur.fetchall()]

# Print the column names
for column in column_names:
    print(column)

# Close the cursor and connection
cur.close()
con.close()

In [9]:
#To check if table exists in the database and cross validate schema details


import psycopg2

# Database connection details
database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = '5432'

# Create connection to PostgreSQL database
con = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port
)

cur = con.cursor()

# Specify the schema and table names to check
schema_name = 'public'
table_name = 'shakti_jagadish'

# Query to check if the table exists in the specified schema
query = f"SELECT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_schema = '{schema_name}' AND table_name = '{table_name}');"

# Execute the query
cur.execute(query)

# Fetch the result
exists = cur.fetchone()[0]

# Print the result
if exists:
    print(f"The table '{table_name}' exists in the schema '{schema_name}'.")
else:
    print(f"The table '{table_name}' does not exist in the schema '{schema_name}'.")

# Close the cursor and connection
cur.close()
con.close()

The table 'shakti_jagadish' exists in the schema 'public'.

In [10]:
#Run this code to Add column from the dataframe to the table

import psycopg2
import pandas as pd
from io import StringIO

# Database connection details
database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = '5432'

# Create connection to PostgreSQL database
con = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port)


# Get the column names from the DataFrame
column_names = merged_df2.columns.tolist()

# Specify the table name to add columns to
table_name = 'shakti_jagadish'

# Generate the ALTER TABLE statements to add columns
alter_table_statements = [f"ALTER TABLE {table_name} ADD COLUMN {column_name} VARCHAR(255);" for column_name in column_names]

# Execute the ALTER TABLE statements
cur = con.cursor()
for statement in alter_table_statements:
    cur.execute(statement)

# Commit the changes
con.commit()

# Close the cursor and connection
cur.close()
con.close()

In [11]:
#To check if column names exists in the database

import psycopg2

# Database connection details
database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = '5432'

# Create connection to PostgreSQL database
con = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port
)

cur = con.cursor()

# Query to fetch the column names of a table in the public schema
schema_name = 'public'
table_name = 'shakti_jagadish'
query = f"SELECT column_name FROM information_schema.columns WHERE table_schema = '{schema_name}' AND table_name = '{table_name}'"

# Execute the query
cur.execute(query)

# Fetch all the column names
column_names = [row[0] for row in cur.fetchall()]

# Print the column names
for column in column_names:
    print(column)

# Close the cursor and connection
cur.close()
con.close()

week
opponent
location
result
boyd_yards
boyd_td
chase_yards
chase_td
higgins_yards
higgins_td

In [12]:
#To load the data to table in the database

import psycopg2
from io import StringIO
import pandas as pd

# Database connection details
database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = '5432'

# Create connection to PostgreSQL database
con = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port
)


# Specify the table name to load data into
table_name = 'shakti_jagadish'

# Create a buffer to hold the DataFrame data
buffer = StringIO()
merged_df2.to_csv(buffer, index=False, header=False, sep='\t')

# Reset the buffer position to the start
buffer.seek(0)

# Create a cursor and execute the COPY command to load data from the buffer
cur = con.cursor()
cur.copy_from(buffer, table_name, sep='\t')

# Commit the changes
con.commit()

# Close the cursor and connection
cur.close()
con.close()

In [13]:
#To check if the data is loaded

import psycopg2

# Database connection details
database = "postgres"
user = "shakti_jagadish"
password = "jhaktisagadish"
host = "ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com"
port = '5432'

# Create connection to PostgreSQL database
con = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port
)

# Specify the table name to check
table_name = 'shakti_jagadish'

# Create a cursor and execute a SELECT query to fetch records from the table
cur = con.cursor()
cur.execute(f"SELECT * FROM {table_name} LIMIT 5")

# Fetch the records
records = cur.fetchall()

# Print the fetched records
for row in records:
    print(row)

# Close the cursor and connection
cur.close()
con.close()

('PRE1', 'TB', 'Away', 'Win', '', '', '', '', '', '')
('PRE2', 'WSH', 'Away', 'Loss', '', '', '', '', '', '')
('PRE3', 'MIA', 'Home', 'Loss', '', '', '', '', '', '')
('REG1', 'MIN', 'Home', 'Win', '32.0', '0.0', '101.0', '1.0', '58.0', '1.0')
('REG2', 'CHI', 'Away', 'Loss', '73.0', '0.0', '54.0', '1.0', '60.0', '1.0')